<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: head" />

	<head>

	<body>

		<div th:fragment="navbar">
			<link rel="sytlesheet" href="/css/navbar.css">
			<nav class="navbar sticky-top  navbar-expand-lg navbar-dark " style="background-color: black;">
				<div class="container-fluid">
					<a class="navbar-brand"><img src="/img/logo2.png" width="100" height="55"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarScroll">
						<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
							style="--bs-scroll-height: 100px;">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/listbooks"><i
										class="fas fa-home"></i> Home</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
									data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-filter"></i>
									Filter
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
									<li><a class="dropdown-item" th:href="@{/filter(genre = education)}"><i
												class="fas fa-university"></i> Education</a>
									</li>
									<li><a class="dropdown-item" th:href="@{/filter(genre = mystery)}"><i
												class="fas fa-video"></i> Mystery</a></li>
									<li><a class="dropdown-item" th:href="@{/filter(genre = action)}"><i
												class="fab fa-playstation"></i> Action</a></li>
									<li><a class="dropdown-item" th:href="@{/filter(genre = romantic)}"><i
												class="fas fa-heart"></i> Romantic</a>
									</li>
									<li><a class="dropdown-item" th:href="@{/filter(genre = programming)}"><i
												class="fas fa-laptop-code"></i> Programming</a></li>
									<li><a class="dropdown-item" th:href="@{/filter(genre = thriller)}"><i
												class="fas fa-clone"></i> Thriller</a>
									</li>
								</ul>

							</li>

							<li class="nav-item " th:if="${roll == 2}">
								<a th:if="${account == false}" class="nav-link" th:href="@{/payment}"><i
										class="fas fa-book"></i> Subscribe</a>
								<a th:if="${account == true}" class="nav-link" th:href="${download}" download><i
										class="fas fa-book"></i> Subscription
									Details</a>
							</li>
							<li th:if="${roll == 1}" class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-users-cog"></i> Admin
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
									<li><a class="dropdown-item" href="/manageuser"><i class="fas fa-users"></i> Manage
											Users</a></li>
									<li>
										<a th:if="${roll == 1}" class="dropdown-item" th:href="@{/excel}"><i
												class="fas fa-file-csv"></i> Generate
											Excel</a>
									</li>
								</ul>
							</li>
							<li th:if="${roll == 3}" class="nav-item dropdown">
								<a th:if="${account == true}" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-users-cog"></i> Author
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
									<li><a class="dropdown-item" href="/newbook"><i class="fas fa-book-open"> </i> Add
											Books</a></li>
								</ul>
							</li>
							<li class="nav-item " th:if="${roll == 3}">
								<a th:if="${account == false}" class="nav-link" th:href="@{/payment}"><i
										class="fas fa-book"></i> Subscribe</a>
								<a th:if="${account == true}" class="nav-link" th:href="${download}" download><i
										class="fas fa-book"></i> Subscription
									Details</a>
							</li>
							<li th:if="${account == true}">
								<a th:if="${roll == 3}" th:href="@{/mybooks}" class="nav-link" ><i
										class="fas fa-book-open"> </i> My Books</a>
							</li>
						</ul>
						<form th:action="@{/search}" th:object="${books}" mthod="GET" class="d-flex">
							<input class="form-control me-3" th:field=*{book_name} type="search"
								placeholder="Search Book Name" aria-label="Search">
							<button class="btn btn-success " type="submit">
								Search</button>
						</form>
						<div>&nbsp &nbsp</div>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="btn btn-primary" th:if="${flag=='1'}" th:href="@{/logout}"><i
										class="fas fa-sign-out-alt"></i> Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div>
				<div th:replace="fragments/footer :: footer" />
	</body>

</html>