<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: head"></div>
	<style>
		body {
			background-color: black;
			font-family: 'Jura', sans-serif;
		}

		span {
			color: red;
		}

		.form-control:focus {
			border-color: #5cb85c;
			box-shadow: none;
		}
	</style>

	<head>

	<body>
		<section class="container"><br />
			<div class="row">
				<div class="col-md-3">


				</div>
				<div class="col-md-6 mt-5">
					<div class="card">
						<center>
							<h4 class="card-title p-1 mt-1">Enter New Password
								<h4 />
						</center>

						<div class="card-body">
							<form th:action="@{/reset_password}" method="post">
								<input type="hidden" name="token" th:value="${token}" />
								<div class="p-3">
									<div>
										<p>
											<input type="password" name="password" id="password" class="form-control"
												placeholder="Enter your new password" required autofocus />
										</p>
										<p>
											<input type="password" class="form-control"
												placeholder="Confirm your new password" required
												oninput="checkPasswordMatch(this);" />
										</p>
										<p class="text-center">
											<input type="submit" value="Change Password" class="btn btn-primary" />
										</p>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				<div class="col-md-3">


				</div>

			</div>
		</section>


	</body>

</html>